/* Tell Quill not to scroll */
.quill-container {
  height: auto;
  min-height: 100%;
  padding: 50px;
}
.quill-container .ql-editor {
  font-size: 18px;
  overflow-y: visible;
}

/* Specify our own scrolling container */
.scrolling-container {
  height: 100%;
  min-height: 100%;
  overflow-y: auto;
}
