.workspace-columns {
  display: grid;
  grid-auto-columns: 375px;
  grid-auto-flow: column;
  grid-gap: 8px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.workspace-column {
  height: 100vh;
}

.workspace-droppable {
  background-color: white;
  border-radius: 3px;
  height: 48px;
  padding: 10px;
  color: gray;
  font-size: 20px;
  border: 0px;
  width: 100%;
  text-align: left;
}

.workspace-droppable:hover {
  background-color: #145388;
  color: white;
}

.editor {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.editor .ql-container {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

.dragging-over {
  background-color: #145388;
  height: 64px;
}

.outer-node {
  padding: 10px;
  background-color: #145388;
  border-radius: 3px;
}

.outer-node-title {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.inner-nodes {
  overflow-y: scroll;
  max-height: 80vh;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.inner-node {
  color: black;
}

.search-result {
  white-space: normal;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.hover-black {
  color: #757575;
}

.hover-black:hover {
  color: black;
}

.dimmed {
  position: relative;
}

.dimmed:before {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.outer-node-extras-btn {
  z-index: 2;
  position: absolute;
  top: 12px;
  right: 0px;
  border-radius: 3px;
  padding: 2px;
  font-size: 1.2rem;
}

.outer-node-title .dropdown-toggle::after {
  display: none;
}
