.workspace-columns {
  display: grid;
  grid-auto-columns: 375px;
  grid-auto-flow: column;
  grid-gap: 8px;
  overflow-x: scroll;
  overflow-y: scroll;
}

.workspace-column {
  height: 100vh;
}

.workspace-droppable {
  background-color: white;
  border-radius: 3px;
  height: 48px;
  padding: 10px;
  color: gray;
  font-size: 20px;
  border: 0px;
  width: 100%;
  text-align: left;
}

.workspace-droppable:hover {
  background-color: #145388;
  color: white;
}

.editor {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.editor .ql-container {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

.dragging-over {
  background-color: #145388;
  height: 64px;
}

.outer-node {
  padding: 10px;
  background-color: #145388;
  border-radius: 3px;
}

.outer-node-title {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.inner-nodes {
  overflow-y: scroll;
  max-height: 90vh;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.inner-node {
  color: black;
}
