.workspace-columns {
  display: grid;
  grid-auto-columns: 375px;
  grid-auto-flow: column;
  grid-gap: 8px;
  overflow-x: scroll;
  overflow-y: scroll;
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
}

.workspace-column {
  height: calc(100vh - 56px);
}

.workspace-droppable {
  background-color: white;
  border-radius: 3px;
  height: 48px;
  padding: 10px;
  color: gray;
  font-size: 20px;
  border: 0px;
  width: 100%;
  text-align: left;
}

.workspace-droppable:hover {
  background-color: #ebecf0;
}

.add-to-node .workspace-droppable {
  background-color: #ebecf0;
  color: gray;
  height: 38px;
  margin-top: 6px;
  padding: 3px;
  font-size: 16px;
}

.add-to-node {
  margin-top: 1px;
}

.add-to-node .workspace-droppable:hover {
  color: black;
}

.add-to-node .ql-editor {
  padding-left: 3px;
}

.editor {
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.editor .ql-container {
  font-size: 16px;
  font-family: "Nunito", sans-serif;
}

.dragging-over {
  background-color: #ebecf0;
  height: 64px;
}

.outer-node {
  padding: 6px;
  background-color: #ebecf0;
  border-radius: 3px;
}

.outer-node.backside {
  background-color: #ebecf0;
}

.backside .card {
  background-color: white;
  box-shadow: inset 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}

.backside .inner-nodes .inner-node {
  margin-bottom: 10px;
}

.backside .outer-node-title .card {
  background-color: #ebecf0;
}

.inner-nodes {
  overflow-y: scroll;
  max-height: calc(100vh - 180px);
}

.inner-node {
  color: black;
  /* font-family: "Noto Serif", serif;*/
  /*font-size: 0.9rem;*/
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.search-result {
  white-space: normal;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
}

.hover-black {
  color: #757575;
}

.hover-black:hover {
  color: black;
}

.dimmed {
  position: relative;
}

.dimmed:before {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
}

.outer-node-menu {
  background: rgba(0, 0, 0, 0.08);
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.outer-node-menu-inner-nodes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.outer-node-menu-outer-node {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.outer-node-menu-btn {
  font-size: 1.2rem;
  background-color: transparent;
  border: 0px;
  z-index: 1;
  padding: 0.2rem 0.2em 0.5rem 0.2rem;
  line-height: 31px;
}

.outer-node-extras-btn {
  position: absolute;
  top: 0px;
  right: 4px;
  border-radius: 3px;
  padding: 0px;
  font-size: 1.8rem;
}

.danger {
  color: red;
}

.outer-node-title .dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-radius: 3px;
}

.toggle-button {
  border: 0px;
  background-color: transparent;
  color: gray;
  margin: 0 5px 0 -5px;
  padding: 0px;
}

.toggle-button:hover {
  color: black;
  border: 1px black;
  border-radius: 50%;
}

.font-size-select {
  font-size: 24px;
}

.checkbox {
  flex: 0 0 5px;
}

.next-to-checkbox {
  flex: 1;
}

.align-center {
  align-items: center;
}

.pretty {
  margin-right: 5px;
}

.font-size-2 {
  font-size: 2rem;
}

.navbar-bg {
  background: rgba(0, 0, 0, 0.12);
}

.navbar-button {
  font-size: 1.2rem;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.12);
  padding: 5px;
  min-width: 50px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 5px;
}

.workspace-title {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  margin-right: 5px;
}

.navbar-left {
  margin-left: 10px;
}

.navbar .navbar-right {
  flex-basis: 40%;
}

.outer-node-menu {
  background: rgba(0, 0, 0, 0.08);
  font-size: 1.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.outer-node-menu-inner-nodes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.outer-node-menu-outer-node {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.outer-node-menu-btn {
  font-size: 1.2rem;
  background-color: transparent;
  border: 0px;
  z-index: 1;
  padding: 0.2rem 0.2em 0.5rem 0.2rem;
  line-height: 31px;
}

.outer-node-extras-btn {
  position: absolute;
  top: 0px;
  right: 4px;
  border-radius: 3px;
  padding: 0px;
  font-size: 1.8rem;
}

.danger {
  color: red;
}

.outer-node-title .dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border-radius: 3px;
}

.toggle-button {
  border: 0px;
  background-color: transparent;
  color: gray;
  margin: 0 5px 0 -5px;
  padding: 0px;
}

.toggle-button:hover {
  color: black;
  border: 1px black;
  border-radius: 50%;
}

.font-size-select {
  font-size: 24px;
}

.checkbox {
  flex: 0 0 5px;
}

.next-to-checkbox {
  flex: 1;
}

.align-center {
  align-items: center;
}

.pretty {
  margin-right: 5px;
}

.font-size-2 {
  font-size: 2rem;
}

.workspace-selection {
  justify-content: flex-start;
}

.workspace-selection-color {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.workspace-selection-text {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  margin-left: 5px;
}

.navbar-title {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.circle-picker {
  margin-top: 20px;
}

.modal-content {
  border-radius: 0px;
}
